<form action='/{{ list._id }}/edit' method='POST'style="margin: 10px 42%">
  <div><input type='text' name='name' placeholder='name' value="{{ list.name }}" size="40" required/></div>
  <div><input type='text' name='name_en' placeholder='name_en' value="{{ list.name_en }}" size="40" required/></div>
  <div><input type='text' name='category' placeholder='category' value="{{ list.category }}" size="40" required/></div>
  <div><input type='text' name='image' placeholder='image' value="{{ list.image }}" size="40" required/></div>
  <div><input type='text' name='location' placeholder='location' value="{{ list.location }}" size="40" required/></div>
 <div> <input type='text' name='phone' placeholder='phone' value="{{ list.phone }}" size="40" required/></div>
  <div><input type='text' name='google_map' placeholder='google_map' value="{{ list.google_map }}" size="40" required/></div>
  <div><input type='text' name='rating' placeholder='rating' value="{{ list.rating }}" size="40" required/></div>
  <div><input type='text' name='description' placeholder='description' value="{{ list.description }}" size="40" required/></div>
  <button type="submit">Save</button>
</form>