<div class='card mx-auto position-absolute top-50 start-50 translate-middle' style='width: 18rem; border:none;'>
  <h1 class=' mx-auto'>Register</h1>
  {{!-- {{> message}} --}}
  <div class='card-body'>
    <form action="/users/register" method="POST" class='register'>
      <div class="mb-3">
        <label for="name" class="mb-2">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" value="{{name}}">
      </div>
      <div class='mb-3'>
        <label for='email' class='form-label'>Email</label>
        <input type='email' name='email' class='form-control' id='email' aria-describedby='emailHelp'
          placeholder="Enter Email" value="{{email}}"/>
      </div>
      <div class='mb-1'>
        <label for='password' class='form-label'>Password</label>
        <input type='password' name='password' class='form-control' id='password'
          placeholder="Enter Password" value="{{password}}" />
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="mb-2">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
          placeholder="Confirm Password" value="{{comfirmPassword}}">
      </div>
      <div class='text-danger note'>{{note}}</div>
      <button type='submit' class='btn btn-primary d-block mx-auto mt-3 ' style="width: 16rem;">Register</button>
      <a href="/auth/facebook" class="btn btn-info btn-block mt-3 mx-auto d-block" style="width: 16rem;">Facebook Login</a>
    </form>
    <p class="lead mt-4">
      Have An Account? <a href="/users/login">Login</a>
    </p>
  </div>
</div>